# Fundamental Stock Data

This notebook offers a preview into how one can download free historical fundamentals for stocks across various sources. The data collected from these sources can be used to construct value and other fundamental strategies.

### Packages
This notebook will cover how one can download data using the <a href='https://pypi.org/project/simfin/' target="_blank" >simfin</a> and  <a href='https://pypi.org/project/yfinance/' target="_blank" >yfinance</a> packages. 

Note *Install them using "pip install simfin" and "pip install yfinance" if you have not done so*

In [1]:
import yfinance as yf 
import simfin as sf

### Get Your SimFin API Key

- Step 1: Create an account at https://simfin.com. Confirm your account via email
- Step 2: Head over to https://simfin.com/data/api to obtain your api key


### Set Your SimFin Data Directory

Simfin requires you to set a data directory where simfin data will be downloaded. Downloaded data is used for faster retrieval in the future. The default location is a folder named simfin_data in the home directory.

In [2]:
api_key = "9378c297-d8d4-47f6-bc39-adbf8f41d589"
sf.config.set_api_key(api_key=api_key)

# set simfin_data
sf.set_data_dir('~/simfin_data/')

### Download historical financial data from simfin.
The three financial statements containing fundamental data are the quarterly income, balance sheet and cash flows statements. Data from these statements can be loaded for all us tickers from simfin as below.

In [3]:
income = sf.load_income(variant='quarterly', market='us')
balance_sheet = sf.load_balance(variant='quarterly', market='us')
cash_flow = sf.load_cashflow(variant='quarterly', market='us')

Dataset "us-income-quarterly" on disk (75 days old).
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/Users/kevintanyuejun/opt/anaconda3/envs/llm_ai_modelling/lib/python3.10/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Dataset "us-balance-quarterly" on disk (75 days old).
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/Users/kevintanyuejun/opt/anaconda3/envs/llm_ai_modelling/lib/python3.10/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
Dataset "us-cashflow-quarterly" on disk (75 days old).
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

/Users/kevintanyuejun/opt/anaconda3/envs/llm_ai_modelling/lib/python3.10/site-packages/simfin/load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

All of the results obtained are multi-index dataframes where the row is (ticker,date) and the column is a financial statement item. One important columns for backtesting is the Publish Date. This is the date where the information was available to the public. 

For backtesting, we can assume the simfin data is available 1 business day after the Publish Date, since companies sometimes publish after market close or because we may not always be able to get the data immediately on publication for trading, depending on which data vendor you use. Since there are restatements to financial statements, even this will not be a fully "point-in-time" backtest where we only use information available at the time. It should be a reasonable approximation in many cases, however.

With that, let us observe the data for *cash flow*, *income* and *balance sheet* which are resourceful data when it comes to analysing the fundamental aspects of a company

In [4]:
cash_flow.head()

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2020-04-30      45846      USD         2020            Q2   2020-06-01
       2020-07-31      45846      USD         2020            Q3   2020-09-01
       2020-10-31      45846      USD         2020            Q4   2020-12-18
       2021-01-31      45846      USD         2021            Q1   2021-03-02
       2021-04-30      45846      USD         2021            Q2   2021-06-01

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
A      2020-04-30     2021-03-02     309000000.0       312000000.0
       2020-07-31     2021-06-01     309000000.0       312000000.0
       2020-10-31     2021-09-01     308000000.0       311000000.0
       2021-01-31     2022-03-03     306000000.0       309000000.0
       2021-04-30     2022-03-03     306000000.0       306000000.0

                    Net Income/Starting Line  Depreciation & Amortization  \
Ticker Report Date
A      2020-04-30                101000000.0                   76000000.0
       2020-07-31                199000000.0                   77000000.0
       2020-10-31                222000000.0                   76000000.0
       2021-01-31                288000000.0                   76000000.0
       2021-04-30                216000000.0                   77000000.0

                    ...  Net Cash from Operating Activities  \
Ticker Report Date  ...
A      2020-04-30   ...                         313000000.0
       2020-07-31   ...                         290000000.0
       2020-10-31   ...                         377000000.0
       2021-01-31   ...                         238000000.0
       2021-04-30   ...                         472000000.0

                    Change in Fixed Assets & Intangibles  \
Ticker Report Date
A      2020-04-30                            -33000000.0
       2020-07-31                            -24000000.0
       2020-10-31                            -27000000.0
       2021-01-31                            -41000000.0
       2021-04-30                            -31000000.0

                    Net Change in Long Term Investment  \
Ticker Report Date
A      2020-04-30                                  NaN
       2020-07-31                                  NaN
       2020-10-31                                  NaN
       2021-01-31                                  NaN
       2021-04-30                                  NaN

                    Net Cash from Acquisitions & Divestitures  \
Ticker Report Date
A      2020-04-30                                         NaN
       2020-07-31                                         NaN
       2020-10-31                                         NaN
       2021-01-31                                         NaN
       2021-04-30                                -547000000.0

                    Net Cash from Investing Activities  Dividends Paid  \
Ticker Report Date
A      2020-04-30                          -53000000.0     -55000000.0
       2020-07-31                          -32000000.0     -56000000.0
       2020-10-31                          -27000000.0     -55000000.0
       2021-01-31                          -42000000.0     -59000000.0
       2021-04-30                         -587000000.0     -59000000.0

                    Cash from (Repayment of) Debt  \
Ticker Report Date
A      2020-04-30                      25000000.0
       2020-07-31                    -161000000.0
       2020-10-31                      35000000.0
       2021-01-31                     134000000.0
       2021-04-30                     427000000.0

                    Cash from (Repurchase of) Equity  \
Ticker Report Date
A      2020-04-30                       -126000000.0
       2020-07-31                         -9000000.0
       2020-10-31                       -246000000.0
       2021-01-31                       -319000000.0
       2021-04-30                       -194000000.0

                    Net Cash from Financing Activities  Net Change in Cash
Ticker Report Date
A      2020-04-30                         -156000000.0            97000000
       2020-07-31                         -231000000.0            35000000
       2020-10-31                         -269000000.0            83000000
       2021-01-31                         -316000000.0          -111000000
       2021-04-30                          166000000.0            51000000

[5 rows x 26 columns]

In [5]:
income.head()

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2020-04-30      45846      USD         2020            Q2   2020-06-01
       2020-07-31      45846      USD         2020            Q3   2020-09-01
       2020-10-31      45846      USD         2020            Q4   2020-12-18
       2021-01-31      45846      USD         2021            Q1   2021-03-02
       2021-04-30      45846      USD         2021            Q2   2021-06-01

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
A      2020-04-30     2021-06-01     309000000.0       312000000.0
       2020-07-31     2021-09-01     309000000.0       312000000.0
       2020-10-31     2021-09-01     308000000.0       311000000.0
       2021-01-31     2022-03-03     306000000.0       309000000.0
       2021-04-30     2022-05-31     306000000.0       306000000.0

                         Revenue  Cost of Revenue  ...  \
Ticker Report Date                                 ...
A      2020-04-30   1.238000e+09     -581000000.0  ...
       2020-07-31   1.261000e+09     -592000000.0  ...
       2020-10-31   1.483000e+09     -695000000.0  ...
       2021-01-31   1.548000e+09     -710000000.0  ...
       2021-04-30   1.525000e+09     -708000000.0  ...

                    Non-Operating Income (Loss)  Interest Expense, Net  \
Ticker Report Date
A      2020-04-30                    19000000.0            -17000000.0
       2020-07-31                   -11000000.0            -18000000.0
       2020-10-31                   -16000000.0            -18000000.0
       2021-01-31                   -16000000.0            -19000000.0
       2021-04-30                   -15000000.0            -19000000.0

                    Pretax Income (Loss), Adj.  Abnormal Gains (Losses)  \
Ticker Report Date
A      2020-04-30                  121000000.0                      NaN
       2020-07-31                  219000000.0                      NaN
       2020-10-31                  283000000.0                      NaN
       2021-01-31                  312000000.0                      NaN
       2021-04-30                  273000000.0                      NaN

                    Pretax Income (Loss)  Income Tax (Expense) Benefit, Net  \
Ticker Report Date
A      2020-04-30              121000000                        -20000000.0
       2020-07-31              219000000                        -20000000.0
       2020-10-31              283000000                        -61000000.0
       2021-01-31              312000000                        -24000000.0
       2021-04-30              273000000                        -57000000.0

                    Income (Loss) from Continuing Operations  \
Ticker Report Date
A      2020-04-30                                  101000000
       2020-07-31                                  199000000
       2020-10-31                                  222000000
       2021-01-31                                  288000000
       2021-04-30                                  216000000

                    Net Extraordinary Gains (Losses)  Net Income  \
Ticker Report Date
A      2020-04-30                                NaN   101000000
       2020-07-31                                NaN   199000000
       2020-10-31                                NaN   222000000
       2021-01-31                                NaN   288000000
       2021-04-30                                NaN   216000000

                    Net Income (Common)
Ticker Report Date
A      2020-04-30             101000000
       2020-07-31             199000000
       2020-10-31             222000000
       2021-01-31             288000000
       2021-04-30             216000000

[5 rows x 26 columns]

In [6]:
balance_sheet.head()

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2020-04-30      45846      USD         2020            Q2   2020-06-01
       2020-07-31      45846      USD         2020            Q3   2020-09-01
       2020-10-31      45846      USD         2020            Q4   2020-12-18
       2021-01-31      45846      USD         2021            Q1   2021-03-02
       2021-04-30      45846      USD         2021            Q2   2021-06-01

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
A      2020-04-30     2020-06-01     309000000.0       312000000.0
       2020-07-31     2020-09-01     309000000.0       312000000.0
       2020-10-31     2021-12-17     308000000.0       311000000.0
       2021-01-31     2021-03-02     306000000.0       309000000.0
       2021-04-30     2021-06-01     306000000.0       306000000.0

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Report Date
A      2020-04-30                                      1.324000e+09
       2020-07-31                                      1.358000e+09
       2020-10-31                                      1.441000e+09
       2021-01-31                                      1.329000e+09
       2021-04-30                                      1.380000e+09

                    Accounts & Notes Receivable  ...  Short Term Debt  \
Ticker Report Date                               ...
A      2020-04-30                  8.860000e+08  ...      700000000.0
       2020-07-31                  9.300000e+08  ...       40000000.0
       2020-10-31                  1.038000e+09  ...       75000000.0
       2021-01-31                  1.087000e+09  ...      314000000.0
       2021-04-30                  1.075000e+09  ...      205000000.0

                    Total Current Liabilities  Long Term Debt  \
Ticker Report Date
A      2020-04-30                1.945000e+09    1.788000e+09
       2020-07-31                1.314000e+09    2.283000e+09
       2020-10-31                1.467000e+09    2.284000e+09
       2021-01-31                1.687000e+09    2.185000e+09
       2021-04-30                1.758000e+09    2.727000e+09

                    Total Noncurrent Liabilities  Total Liabilities  \
Ticker Report Date
A      2020-04-30                   2.742000e+09       4.687000e+09
       2020-07-31                   3.251000e+09       4.565000e+09
       2020-10-31                   3.287000e+09       4.754000e+09
       2021-01-31                   3.183000e+09       4.870000e+09
       2021-04-30                   3.830000e+09       5.588000e+09

                    Share Capital & Additional Paid-In Capital  \
Ticker Report Date
A      2020-04-30                                 5.291000e+09
       2020-07-31                                 5.327000e+09
       2020-10-31                                 5.314000e+09
       2021-01-31                                 5.269000e+09
       2021-04-30                                 5.274000e+09

                    Treasury Stock  Retained Earnings  Total Equity  \
Ticker Report Date
A      2020-04-30              NaN         15000000.0  4.768000e+09
       2020-07-31              NaN        130000000.0  4.981000e+09
       2020-10-31              NaN         81000000.0  4.873000e+09
       2021-01-31              NaN          4000000.0  4.804000e+09
       2021-04-30              NaN        -12000000.0  4.810000e+09

                    Total Liabilities & Equity
Ticker Report Date
A      2020-04-30                   9455000000
       2020-07-31                   9546000000
       2020-10-31                   9627000000
       2021-01-31                   9674000000
       2021-04-30                  10398000000

[5 rows x 28 columns]

With that, let us observe how many tickers are available for each statement, including the start and end dates for each of our statement

In [7]:
def describe_data(data, data_name):
  size = len(set(data.index.get_level_values(0)))
  start_dt = data.index.get_level_values(1).min().strftime('%Y%m%d')
  end_dt = data.index.get_level_values(1).max().strftime('%Y%m%d')
  print (f'{data_name}: {size} tickers. Date range: {start_dt} to {end_dt}')

describe_data(income ,'Income Data')
describe_data(balance_sheet ,'Balance Sheet Data')
describe_data(cash_flow ,'Cash Flow Data')

Income Data: 3727 tickers. Date range: 20200228 to 20241231
Balance Sheet Data: 3727 tickers. Date range: 20200229 to 20241231
Cash Flow Data: 3727 tickers. Date range: 20200229 to 20241231

If you notice above, the simfin data ends a year ago. They only have 1 year lagged data. To get the most recent financial statement information, you can use yahoo finance. First you must obtain a yfinance.Ticker object for your desired ticker.

In [8]:
yf_ticker = yf.Ticker('AAPL')

# Get the quarterly cash flow statements from yfinance
income_yf = yf_ticker.quarterly_financials
cash_flow_yf = yf_ticker.quarterly_cashflow
balance_sheet = yf_ticker.quarterly_balance_sheet

In [9]:
income_yf.head()

,2025-09-30,2025-06-30,2025-03-31,2024-12-31,2024-09-30
Tax Effect Of Unusual Items,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Tax Rate For Calcs,1.627240e-01,1.640000e-01,1.550000e-01,1.470000e-01,2.100000e-01
Normalized EBITDA,3.555400e+10,3.103200e+10,3.225000e+10,4.591200e+10,3.250200e+10
Net Income From Continuing Operation Net Minority Interest,2.746600e+10,2.343400e+10,2.478000e+10,3.633000e+10,1.473600e+10
Reconciled Depreciation,3.127000e+09,2.830000e+09,2.661000e+09,3.080000e+09,2.911000e+09

In [10]:
cash_flow_yf.head()

,2025-09-30,2025-06-30,2025-03-31,2024-12-31,2024-09-30,2024-06-30
Free Cash Flow,2.648600e+10,2.440500e+10,2.088100e+10,2.699500e+10,2.390300e+10,NaN
Repurchase Of Capital Stock,-2.013200e+10,-2.107500e+10,-2.589800e+10,-2.360600e+10,-2.508300e+10,NaN
Repayment Of Debt,-1.185000e+09,-1.770000e+09,9.760000e+08,-8.953000e+09,4.270000e+08,NaN
Issuance Of Debt,0.000000e+00,NaN,NaN,NaN,0.000000e+00,NaN
Capital Expenditure,-3.242000e+09,-3.462000e+09,-3.071000e+09,-2.940000e+09,-2.908000e+09,NaN

In [11]:
balance_sheet.head()

,2025-09-30,2025-06-30,2025-03-31,2024-12-31,2024-09-30
Ordinary Shares Number,1.477326e+10,1.485672e+10,1.493932e+10,1.503787e+10,1.511679e+10
Share Issued,1.477326e+10,1.485672e+10,1.493932e+10,1.503787e+10,1.511679e+10
Net Debt,6.272300e+10,6.542900e+10,7.002400e+10,6.650000e+10,7.668600e+10
Total Debt,9.865700e+10,1.016980e+11,9.818600e+10,9.679900e+10,1.066290e+11
Tangible Book Value,7.373300e+10,6.583000e+10,6.679600e+10,6.675800e+10,5.695000e+10

As the data providers are from two completely different sources, extra care and caution must be taken when it comes to merging and integrating financial data of one company from various sources in order to get the full/complete range of data.